<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app" class="container">
      <h2 class="text-center">Vue를 이용한 게시판</h2>
      <div>
        <template v-for="(board) in boards" v-if="no == board.no">
          <table class="table table-condensed">
            <colgroup>
              <col width="10%" />
              <col width="50%" />
              <col width="15%" />
              <col width="25%" />
            </colgroup>
            <tr>
              <th>번호</th>
              <td>{{board.no}}</td>
            </tr>
            <tr>
              <th>글쓴이</th>
              <td>{{board.writer}}</td>
            </tr>
            <tr>
              <th>제목</th>
              <td>{{board.title}}</td>
            </tr>
            <tr>
              <th>날짜</th>
              <td>{{board.regtime}}</td>
            </tr>
          </table>
          <div>{{board.content}}</div>
        </template>

        <button class="btn btn-primary" style="float: right" @click="goList()">
          목록
        </button>
      </div>
      <!-- 게시글이 없는 경우 메세지 -->
    </div>
    <script>
      // https://developer.mozilla.org/en-US/docs/Web/API/URL/URL
      const params = new URL(document.location).searchParams;
      const no = params.get('no');
      console.dir(new URL(document.location));
      console.dir(params.get('no'));

      // const boards = [
      //   {
      //     no: 3,
      //     title: '프론트엔드 프레임워크',
      //     content: 'Vue는 프론트엔드의 인기있는 프레임워크 입니다.',
      //     writer: 'ssafy',
      //     regtime: '2020-10-30',
      //   },
      //   {
      //     no: 2,
      //     title: 'Vue를 배워봅시다',
      //     content: 'Vue와 Spring을 연동하자~',
      //     writer: 'ssafy',
      //     regtime: '2020-09-19',
      //   },
      //   {
      //     no: 1,
      //     title: 'Vue Axios 연동',
      //     content: 'Vue를 이용한 HTTP 통신',
      //     writer: 'ssafy',
      //     regtime: '2020-10-26',
      //   },
      // ];

      let temp = {
        sequence: 0, // 글번호. 새 글번호 만들때 사용
        items: [], //나머지 내용
      };

      temp = JSON.parse(localStorage.getItem('board'));
      boards = temp.items;

      new Vue({
        el: '#app',
        data() {
          return {
            no: no,
            boards, // key, value 글자가 동일한 경우 하나만 적어도됨
          };
        },
        methods: {
          goList() {
            document.location = 'list.html';
          },
        },
      });
    </script>
  </body>
</html>
